@font-face {
    font-family: rpafont;
    src: url(../fonte/OpenSans-BoldItalic.ttf);
}

body{
    font-family: rpafont;
    color: white;
    
}

html, body {
    margin: 0;
    padding: 0;
    font-family: rpafont;
    background-color: rgb(41, 54, 84, 101.09);
    background-image: url(../imagens/rpa.jpeg);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type='file'] {
    display: none
}

.titulo{
    text-align: center;
    color: white;
    margin: 0 auto;
}

.uploadBtn{
    font-family: rpafont;
    border: 0px solid;
    background-color: grey;
    border-radius: 5px;
    color: white;
    font-size: 2rem;
}

.uploadSection{
    display: flex;
    flex-direction: row;
}